Mod status:
(c) - core, the main mod of the set. It is the recommended mod for casuals and the mod used for RANKED
(s) - stable, likely low chance of changes
(u) - unstable, likely high chance of changes
(w) - wild, untested and in its raw form
(a) - abandoned, will no longer see changes

Timers: same rules apply except for the following changes
Timer is set to 5 minutes
Time foul penalty is 1 minute (subject to change)