the asterisk text point is the line where it reaches text cap by TETR.IO
use /set in parts

Mod status:
(c) - core, the main mod of the set. It is the recommended mod for casuals and the mod used for RANKED
(s) - stable, likely low chance of changes
(u) - unstable, likely high chance of changes
(w) - wild, untested and in its raw form
(a) - abandoned, will no longer see changes

To ensure nothing will go wrong, set your gamepresets to default or tetra league (not season 1) each time you plan to play a different gamemode

TuneWifi's Chesstris system rules:
players start the first round with first to 7 pieces, the first person to do so will play first
rounds 2 and beyond will have players play first if they lost the previous round

fouls are earned by:
going over the multiple of 7 (miscount)
placing pieces when its not your turn (false start)
tampering with the timer (tampering)

When setting up a ranked match, set the timer in https://sharedgametimer.com/
Pick the following options:
Count Down(pick)
Divide the game into rounds(on)
Any player may end the round(pick)
Select 1st player at round start(on)
Auidible time reminders(on)
Time adjust buttons(on) -> remove 1, -2 and add -3

Terms:
in-frame holding - Holding before Garbage fully rises (usually used when holding becomes deadly after garbage fully rises)
Frame Perfect hold - same as in-frame holding but requires frame perfect to execute
I-frames - frames which grants immunity from tanking more garbage after tanking the previous garbage
Half-Turn (hT) - Half turn is when one player takes their turn
Full-Turn (fT) - Full-Turn is when one full revolution is complete (back to the first player)
(ex. fT1(player1 hT1, player2 hT2), fT2(player1 hT3, player2 hT4))

Templates:
Chesstris - https://sharedgametimer.com/templates/W6CocJEtH40kFwwcP0cR
Chesstris Blitz - https://sharedgametimer.com/templates/Nwyug4hXSBzIGGJC8gEN

**Old Rule:**
Max fouls are 2, fouls last one round and is reset back to 0 every new round
1 foul removes 3 minutes off the clock on that round, reaching 2 will lose you that round
losing the round by foul will DISQUALIFY you from first turn priority
for the standard set, 10 minutes is placed and is reset per new game round
if your timer runs out, you lose the round but keep turn priority
for the 1st round, timer will only begin after the first bag, the one who goes first will have their clock started

**RANKED Rule:**
Max fouls are 3, but fouls last for the entire match
1 foul removes 3 minutes off the clock on that round, reaching 3 instantly loses you the match
for the standard set, 10 minutes is placed and is reset per new game round
if your timer runs out, you lose the round and turn priority
for the 1st round, timer will only begin after the first bag, the one who goes first will have their clock started

 -- Turn types: --
 Bagwise - 7 Pieces per Half-Turn (Per player turn)
 6+3 - 3 Pieces for the first Half-Turn, 6 Pieces for second Half-Turn and beyond
 Per Piece - 1 Pieces per Half-Turn
